.banner {
  background-image: url("asset/mesjid.jpg");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  text-transform: uppercase;
}

.lingkaran {
  display: inline-block;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #ffa500;
  box-sizing: border-box;
  background-color: white;
  padding-top: 10px;
}

.lingkaran i {
  position: relative;
  padding-top: 20px;
  border: 3px solid;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.banner p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #090909;
  font-size: 5vw;
}

.kegiatan {
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

.tentang {
  background-color: #f9f9f8;
  background-size: cover;
  padding-bottom: 80px;
  color: black;
}

.anjay {
  margin-top: 35px;
}

.portfolio p {
  font-size: 18px;
}

.bawah i {
  color: #090909;
  position: relative;
  margin-left: 50px;
}

.judul {
  color: #090909;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.banner2 {
  padding-top: 150px;
}
